# Day One

# Introduction of Python 
Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general purpose language, meaning it can be used to create a variety of different programs and isn’t specialized for any specific problems.

Python was introduced by Guido Van Rossum in 1989.
This initial release has module system of Modula-3. Later on, this programming language was named ‘Python’

 Back in the 1970s, there was a popular BBC comedy tv show called Monty Python’s Fly Circus 
 
 filename extensions are .py, .pyc, .pyd, .pyo.
 
 Python supports multiple programming paradigms like functional programming, imperative and procedural as well

# There is more than one Python!
In addition to Python 2 and Python 3, there is more than one version of each.

# Print ()

In [1]:
print ('Salam tGIT')

Salam tGIT

In [2]:
print ("Zakaria ")
print ("Ali ")
print ("Hujale ")

Zakaria
Ali
Hujale

In [3]:
print('Zakaria\nali \nhujale')

Zakaria
ali
hujale

# Maxa dhacay halkan sare !!

# Escape Sequence(Characters)

There are some characters that have a special meaning when used in a string. But what do yo do if you would like to insert that character in the string as is, without invoking its special meaning.

For understanding this, let us take a simple example. We use single quotes or double quotes to define a string. Suppose, we define a string with single quotes. The first occurrence of single quote marks the start of string and the second occurrence marks the end of the string. Now, consider that we would like to have a single quote in our string. What do we do now. If we place a single quote just like that in the middle of string, Python would think that this is the end of the string, which is actually not.

To insert these kind of illegal characters, we need the help of a special character like backslash \.

<p>Here is a list of all the escape sequences supported by Python.</p>

<div class="table-responsive">
	<table>
		<tbody>
			<tr>
				<th>Escape Sequence</th>
				<th>Description</th>
			</tr>
			<tr>
				<td>\newline</td>
				<td>Backslash and newline ignored</td>
			</tr>
			<tr>
				<td>\\</td>
				<td>Backslash</td>
			</tr>
			<tr>
				<td>\&#39;</td>
				<td>Single quote</td>
			</tr>
			<tr>
				<td>\&quot;</td>
				<td>Double quote</td>
			</tr>
			<tr>
				<td>\b</td>
				<td>ASCII Backspace</td>
			</tr>
			<tr>
				<td>\n</td>
				<td>ASCII Linefeed</td>
			</tr>
		</tbody>
	</table>

In [26]:
x = 'hello\\world'
print(x)

hello\world

In [28]:
x = 'hello\'world' # or "hello'world"
print(x)

hello'world

In [29]:
x = 'hello\nworld'
print(x)

hello
world

In [31]:
x = 'hello\tworld'
print(x)

hello	world

In [30]:
x = 'hello\bworld'
print(x)

helloworld

lloworld

# print function arguments (end and sep)

There are two optional arguments to the print function. They are not overly important at this stage but they are useful for making your output look nice.

# end arguments

In [13]:
print ("Zakaria ")
print ("Ali ", end = ' ')
print ("Hujale ")

Zakaria
Ali  Hujale

# Sep arguments

In [23]:
print('Mohammed','Abdullah','Abdul Mutalib','Hashem')

Mohammed Abdullah Abdul Mutalib Hashem

In [25]:
print('Mohammed','Abdullah','Abdul Mutalib','Hashem',sep =' ibn ')

Mohammed ibn Abdullah ibn Abdul Mutalib ibn Hashem

# String
A string is a sequence of UNICODE characters enclosed in quotation marks.

In [49]:
universityName = "Gollis University"

In [50]:
print(universityName)

Frantz Fanon

In [51]:
faculty = "ICT"

In [52]:
shift = "Afternoon"

In [57]:
print("jacamadu uu dhigaa waa " + universityName + " faculty giisuna waa " + faculty  )

jacamadu uu dhigaa waa Frantz Fanon faculty giisuna waa ICT

# string Operators

<p>In python, String operators represent the different types of operations that can be employed on the string type of variables in the program. Python allows several string operators that can be applied on the python string are as below:</p>
<ul>
<li>Assignment operator: “=”</li>
<li>Concatenate operator: “+”</li>
<li>String repetition operator: “*”</li>
<li>String indexing operator: “[indexnumber]”</li>
<li>String slicing operator: “[:]”</li>
<li>String comparison operator: “==” &amp; “!=”</li>
<li>Membership operator: “in” &amp; “not in”</li>
<li>Escape sequence operator: “\”</li>
<li>String formatting operator: “%” &amp; “{}”</li>
</ul>

In [ ]:
# concatenation operator +

In [8]:
firstname = "Abdi "

In [9]:
lastname = "Omar"

In [10]:
fullname = firstname + lastname

In [11]:
print("my fullname is " + fullname)

my fullname is Abdi Omar

In [14]:
fullname10 = fullname * 10

In [15]:
print("my full name printed 10 times is " + fullname10)

my full name printed 10 times is Abdi OmarAbdi OmarAbdi OmarAbdi OmarAbdi OmarAbdi OmarAbdi OmarAbdi OmarAbdi OmarAbdi Omar

In [17]:
name = "Abdi"

In [18]:
print(name[0],name[3]) #indexing

A i

<h4><b></b> String indexing operator “[indexNumber]”</h4>
<p>Characters from a specific index of the string can be accessed with the string[index] operator.  calling one by one The index is interpreted as a positive index starting from 0 from the left side and negative index starting from -1 from the right side.</p>
<table style="height: 140px" width="770">
<tbody>
<tr>
<td width="46"><strong>String</strong></td>
<td width="46"><strong>H</strong></td>
<td width="46"><strong>E</strong></td>
<td width="46"><strong>L</strong></td>
<td width="46"><strong>L</strong></td>
<td width="46"><strong>O</strong></td>
<td width="46"><strong>W</strong></td>
<td width="46"><strong>O</strong></td>
<td width="46"><strong>R</strong></td>
<td width="46"><strong>L</strong></td>
<td width="46"><strong>D</strong></td>
</tr>
<tr>
<td width="46"><strong>Positive index</strong></td>
<td width="46">0</td>
<td width="46">1</td>
<td width="46">2</td>
<td width="46">3</td>
<td width="46">4</td>
<td width="46">5</td>
<td width="46">6</td>
<td width="46">7</td>
<td width="46">8</td>
<td width="46">9</td>
</tr>
<tr>
<td width="46"><strong>Negative index</strong></td>
<td width="46">-10</td>
<td width="46">-9</td>
<td width="46">-8</td>
<td width="46">-7</td>
<td width="46">-6</td>
<td width="46">-5</td>
<td width="46">-4</td>
<td width="46">-3</td>
<td width="46">-2</td>
<td width="46">-1</td>
</tr>
</tbody>
</table>

Characters from a specific index of the string can be accessed with the string[index] operator. using slicing by group

In [24]:
print(name[3:5]) #slicing

li

In [19]:
name.index("i")

3

Python 3 uses Unicode characters for string data. We need to perform different types of tasks based on the programming purpose on the string data such as searching the particular character or characters, capitalizing the first character, making all characters uppercase, etc. Python has many built-in string methods to do these types of tasks very easily


Python String capitalize()
Converts first character to Capital Letter

Python String center()
Pads string with specified character

Python String count()
returns occurrences of substring in string

Python String encode()
returns encoded string of given string

Python String endswith()
Checks if String Ends with the Specified Suffix

Python String expandtabs()
Replaces Tab character With Spaces

Python String find()
Returns the index of first occurrence of substring

Python String format()
formats string into nicer output

Python String format_map()
Formats the String Using Dictionary

Python String index()
Returns Index of Substring

Python String isalnum()
Checks Alphanumeric Character

Python String isalpha()
Checks if All Characters are Alphabets

Python String isdecimal()
Checks Decimal Characters

Python String isdigit()
Checks Digit Characters

Python String isidentifier()
Checks for Valid Identifier

Python String islower()
Checks if all Alphabets in a String are Lowercase

Python String isnumeric()
Checks Numeric Characters

Python String isprintable()
Checks Printable Character

Python String isspace()
Checks Whitespace Characters

Python String istitle()
Checks for Titlecased String

Python String isupper()
returns if all characters are uppercase characters

Python String join()
Returns a Concatenated String


Python String lower()
returns lowercased string

Python String lstrip()
Removes Leading Characters


Python String replace()
Replaces Substring Inside

Python String rfind()
Returns the Highest Index of Substring

Python String rindex()
Returns Highest Index of Substring

Python String rjust()
returns right-justified string of given width


Python String rsplit()
Splits String From Right

Python String rstrip()
Removes Trailing Characters

Python String split()
Splits String from Left

Python String splitlines()
Splits String at Line Boundaries

Python String startswith()
Checks if String Starts with the Specified String

Python String strip()
Removes Both Leading and Trailing Characters

Python String swapcase()
swap uppercase characters to lowercase; vice versa

Python String title()
Returns a Title Cased String


Python String upper()
returns uppercased string

In [35]:
name = 'zakaria'
print(name.capitalize())

Zakaria

# Numbers In python


<table align="left", text-align: "left">
	<tbody >
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>+</td>
			<td>Add two operands or unary plus</td>
			<td>x + y+ 2</td>
		</tr>
		<tr>
			<td>-</td>
			<td>Subtract right operand from the left or unary minus</td>
			<td>x - y- 2</td>
		</tr>
		<tr>
			<td>*</td>
			<td>Multiply two operands</td>
			<td>x * y</td>
		</tr>
		<tr>
			<td>/</td>
			<td>Divide left operand by the right one (always results into float)</td>
			<td>x / y</td>
		</tr>
		<tr>
			<td>%</td>
			<td>Modulus - remainder of the division of left operand by the right</td>
			<td>x % y (remainder of x/y)</td>
		</tr>
		<tr>
			<td>//</td>
			<td>Floor division - division that results into whole number adjusted to the left in the number line</td>
			<td>x // y</td>
		</tr>
		<tr>
			<td>**</td>
			<td>Exponent - left operand raised to the power of right</td>
			<td>x**y (x to the power y)</td>
		</tr>
        <tr>
			<td>**0.5</td>
			<td>Root</td>
			<td>x**0.5 (x root)</td>
		</tr>
	</tbody>
</table>

In [4]:
print(4 + 2)

6

In [3]:
print(4 - 2)

2

In [2]:
print(4 / 2)

2.0

In [1]:
print(4 * 2)

8

In [13]:
print(13//5)

2

In [14]:
print(9//2)

4

In [16]:
print(13%5)

3

In [17]:
print(5%3)

2

In [18]:
print(5**2)

25

In [19]:
print(10**3)

1000

In [20]:
print(25**0.5)

5.0

In [22]:
print(144**0.6)

19.725021954206706

<p>The operator precedence in Python is listed in the following table. It is in descending order (upper group has higher precedence than the lower ones).</p>
	<table>
		<tbody>
			<tr>
				<th>Operators</th>
				<th>Meaning</th>
			</tr>
			<tr>
				<td><code>()</code></td>
				<td>Parentheses</td>
			</tr>
			<tr>
				<td><code>**</code></td>
				<td>Exponent</td>
			</tr>
			<tr>
				<td><code>*</code>, <code>/</code>, <code>//</code>, <code>%</code></td>
				<td>Multiplication, Division, Floor division, Modulus</td>
			</tr>
			<tr>
				<td><code>+</code>, <code>-</code></td>
				<td>Addition, Subtraction</td>
			</tr>
		</tbody>
	</table>

In [24]:
print((2 + 4) * 5)

30

In [25]:
print( 2 - 4 + 9)

7

In [26]:
(4 / 2) + 2 + 4 - 3 + (7 % 7) + (3**2)

14.0

# Variables

Variables are containers for storing data values.

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python

# correct variable 

name

age

university

city

country

mother_name

# incorrect
9name

father name

father-name

In [29]:
name = "Abdi "
father_name = "Ali"

fullname = name + father_name

print (fullname)

Abdi Ali

In [32]:
x = 5
y = 6.5

result = x * y

print (result)

32.5

In [35]:
x = "x"

In [37]:
type(x)

str

In [38]:
salary = 500
tax = 0.05

aftertax = salary - (salary * tax)

print(aftertax)

475.0

In [4]:
name = input("")
age = input("")
bloodtype = input("")
 
print("my fullname is %s and my age is %s and my bloodtype is %s" % (name,age,bloodtype))

print("my fullname is {} and my age is {} and my bloodtype is {}".format(name,age, bloodtype))

print(f"my fullname is {name} and my age is {age} and my bloodtype is {bloodtype}")

my fullname is Abdi Ali Omar and my age is 35 and my bloodtype is O
my fullname is Abdi Ali Omar and my age is 35 and my bloodtype is O
my fullname is Abdi Ali Omar and my age is 35 and my bloodtype is O